$baseFFF: #fff; //菜单文字激活状态
$base002640: #002640; //页面page背景
$baseBFBFBF: #bfbfbf;
$base00D1FF: #00d1ff;
$base33414C: #33414c;
$baseA6ACB1: #a6acb1;
$baseBFC3C7: #bfc3c7;
$baseCCF6FF: #ccf6ff;
$base00111F: #00111f;
$baseDBFFFB: #dbfffb;
$base12222F: #12222f;
$base293F4C: #293f4c;
$base014454: #014454;
$base2A4854: #2a4854;
$base344A53: #344a53;
$base73F6AF: #73f6af;
$baseFF4C5E: #ff4c5e;
$base73838F: #73838f;
$base001927: #001927;
$base8C949A: #8c949a;
$baseB8BDC1: #b8bdc1;
$base11212E: #11212e;
$base00374C: #00374c;
$base142837: #142837;
$base334551: #334551;
$base104a5f: #104a5f;
$baseFFAD30: #ffad30;
$baseFCE27D: #fce27d;
$base6BD98D: #6bd98d;
$baseF7AC0D: #f7ac0d;
$base5FFFF8: #5ffff8;
