@import './base.scss';
// theme.scss
@function set-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}
$themes: (
  light: (
    pageBg: set-opacity($base002640, 0.2),
    baseFFF: $baseFFF,
    baseFFF02: set-opacity($baseFFF, 0.2),
    baseFFF05: set-opacity($baseFFF, 0.5),
    baseFFF07: set-opacity($baseFFF, 0.7),
    baseFFF008: set-opacity($baseFFF, 0.08),
    baseFFF08: set-opacity($baseFFF, 0.8),
    baseBFBFBF: $baseBFBFBF,
    base00D1FF: $base00D1FF,
    base00D1FF02: set-opacity($base00D1FF, 0.2),
    base00D1FF05: set-opacity($base00D1FF, 0.5),
    base00D1FF07: set-opacity($base00D1FF, 0.7),
    base33414C: $base33414C,
    base33414C07: set-opacity($base33414C, 0.7),
    baseA6ACB1: $baseA6ACB1,
    baseBFC3C7: $baseBFC3C7,
    baseCCF6FF: $baseCCF6FF,
    baseCCF6FF02: set-opacity($baseCCF6FF, 0.2),
    baseCCF6FF07: set-opacity($baseCCF6FF, 0.7),
    baseCCF6FF03: set-opacity($baseCCF6FF, 0.3),
    base00111F: $base00111F,
    baseDBFFFB02: set-opacity($baseDBFFFB, 0.2),
    baseDBFFFB016: set-opacity($baseDBFFFB, 0.16),
    baseDBFFFB004: set-opacity($baseDBFFFB, 0.04),
    base12222F: $base12222F,
    base293F4C08: set-opacity($base293F4C, 0.8),
    base014454: $base014454,
    base2A4854: $base2A4854,
    base344A53: $base344A53,
    base73F6AF: $base73F6AF,
    base73F6AF07: set-opacity($base73F6AF, 0.7),
    base73F6AF02: set-opacity($base73F6AF, 0.2),
    baseFF4C5E: $baseFF4C5E,
    baseFF4C5E02: set-opacity($baseFF4C5E, 0.2),
    baseFF4C5E07: set-opacity($baseFF4C5E, 0.7),
    base73838F: $base73838F,
    base001927: $base001927,
    base8C949A: $base8C949A,
    base8C949A03: set-opacity($base8C949A, 0.3),
    baseB8BDC1: $baseB8BDC1,
    base11212E: $base11212E,
    base00374C: $base00374C,
    base142837: $base142837,
    base334551: $base334551,
    base104a5f: $base104a5f,
    baseFFAD30: $baseFFAD30,
    baseFCE27D: $baseFCE27D,
    base6BD98D: $base6BD98D,
    baseF7AC0D: $baseF7AC0D,
    base5FFFF8: $base5FFFF8
  ),
  dark: ()
);
